@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100vh;
  position: relative;
  background-color:black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  margin-bottom: 40px;
}

.btn:hover {
  background-color: blue !important;
}

.my-dark-modal .modal-content{
  background-color: black;
  color: white;
  text-align: center;
  border: 1px solid white;
}

.active-link {
  color: blue;
}

.my-dark-modal .modal-header {
  background-color: black;
  color: black;
 Button {
   background-color:whitesmoke;
   color:white;}
 color:white; 
border: 2px solid white;
 }

 

.search-bar-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  padding: 20px;
  border-radius: 10px;
}

.search-bar-cards select {
  margin-right: 10px;
  background-color: #555;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.search-bar-cards input {
  flex: 1;
  background-color: #555;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

@media (max-width: 600px) {
  .search-bar-cards {
    flex-direction: column;
    padding: 10px;
  }

  .search-bar-cards select {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .search-bar-cards input {
    width: 100%;
  }
}
