@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100vh;
  position: relative;
  background-color:black;
  padding-bottom: 40px;  /* Add this line */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  margin-bottom: 40px;  /* Add this line */
}

.Button:hover {
  background-color: blue;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 40px;
}
