@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100vh;
  position: relative;
  background-color:black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  margin-bottom: 40px;
}

.btn:hover {
  background-color: blue !important;
}

.my-dark-modal .modal-content{
  background-color: black;
  color: white;
  text-align: center;
}

.active-link {
  color: blue;
}

.my-dark-modal .modal-header {
  background-color: black;
  color: black;
 Button {
   background-color:whitesmoke;
   color:white;}
 color:white; 
 }
